Libraries

In [5]:
import requests
import pandas as pd

Extract from URL

In [6]:
def extract_countries_data():
    url = "https://restcountries.com/v3.1/all?fields=name,area,population,region,capital,continent"
    response = requests.get(url)
    if response.status_code == 200:
     countries = response.json()
    return pd.json_normalize(countries)


Load to CSV

In [7]:
df =extract_countries_data()
df.to_csv (r"C:\Users\hp\Documents\Countries Worldwide Info\raw_countriesdata.csv", index=False)
print(df.head())

       capital   region      area  population name.common  \
0       [Lomé]   Africa   56785.0     8278737        Togo
1  [Mamoudzou]   Africa     374.0      226915     Mayotte
2    [Tbilisi]     Asia   69700.0     3714000     Georgia
3  [Port Vila]  Oceania   12189.0      307150     Vanuatu
4    [Bishkek]     Asia  199951.0     6591600  Kyrgyzstan

           name.official name.nativeName.fra.official  \
0      Togolese Republic         République togolaise
1  Department of Mayotte       Département de Mayotte
2                Georgia                          NaN
3    Republic of Vanuatu        République de Vanuatu
4        Kyrgyz Republic                          NaN

  name.nativeName.fra.common name.nativeName.kat.official  \
0                       Togo                          NaN
1                    Mayotte                          NaN
2                        NaN                   საქართველო
3                    Vanuatu                          NaN
4                        NaN                          NaN

  name.nativeName.kat.common  ... name.nativeName.uzb.official  \
0                        NaN  ...                          NaN
1                        NaN  ...                          NaN
2                 საქართველო  ...                          NaN
3                        NaN  ...                          NaN
4                        NaN  ...                          NaN

  name.nativeName.uzb.common name.nativeName.ukr.official  \
0                        NaN                          NaN
1                        NaN                          NaN
2                        NaN                          NaN
3                        NaN                          NaN
4                        NaN                          NaN

  name.nativeName.ukr.common name.nativeName.bjz.official  \
0                        NaN                          NaN
1                        NaN                          NaN
2                        NaN                          NaN
3                        NaN                          NaN
4                        NaN                          NaN

  name.nativeName.bjz.common name.nativeName.nfr.official  \
0                        NaN                          NaN
1                        NaN                          NaN
2                        NaN                          NaN
3                        NaN                          NaN
4                        NaN                          NaN

  name.nativeName.nfr.common name.nativeName.tkl.official  \
0                        NaN                          NaN
1                        NaN                          NaN
2                        NaN                          NaN
3                        NaN                          NaN
4                        NaN                          NaN

  name.nativeName.tkl.common
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

[5 rows x 312 columns]