Libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

load_dotenv()

True

mysql info

In [2]:
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST")

Load the clean data to Mysql

In [3]:
def load_to_mysql(df: pd.DataFrame):
    df.to_csv (r"C:\Users\hp\Documents\Countries Worldwide Info\cleaned_countriesdata.csv", index=False)
    engine = create_engine(f"mysql+mysqlconnector://{DB_USER}:{DB_PASS}@127.0.0.1:3307/{DB_NAME}")
    df.to_sql("cleancountries", con=engine, if_exists="replace", index=False)
    print(df.head())